[Unit]
Description=pwn-gpsd - proxy gpsd and share over pwngrid mesh
Documentation=https://pwnagotchi.org
Wants=network.target
Requires=pwngrid-peer.service
After=pwngrid-peer.service gpsd.service

[Service]
Type=simple
WorkingDirectory=~
# change this to point to the correct venv python
# on jayofelony, change ".venv" to ".pwn"
ExecStart=/home/pwnagotchi/.venv/bin/python3 pwn-gpsd.py -S
Restart=always
Restart=on-failure
RestartSec=10
TasksMax=infinity
LimitNPROC=infinity
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
